<div class="container" #container>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
<!--      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="fw-bold text-body-emphasis mb-0">Track family purchases.</h1>
    <h1 class="fw-bold text-muted">Automatic. Secure. Simple.</h1>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="https://dummyjson.com/image/960x600" alt="Example image" loading="lazy" class="img-fluid rounded-3 mb-4" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-5">
      <h2 class="fw-bold">Effortless setup.</h2>
      <h4 class="text-muted">Just forward Apple receipts — AppSpnd automatically parses your family’s app, subscription, and in-app spending. No Apple login required.</h4>
    </div>
    <div class="col-12 col-md-6">
      <img src="https://dummyjson.com/image/450" alt="Example image" loading="lazy" class="img-fluid rounded-3 mb-4" />
    </div>
    <div class="col-12 col-md-6">
      <img src="https://dummyjson.com/image/450" alt="Example image" loading="lazy" class="img-fluid rounded-3 mb-4" />
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-5">
      <h2 class="fw-bold">Smart insights.</h2>
      <h4 class="text-muted">Get monthly reports, summaries per family member, and see spending categories at a glance in a clear dashboard.</h4>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-5">
      <h2 class="fw-bold">Total peace of mind.</h2>
      <h4 class="text-muted">Your data remains private and secure—receipts stay confidential and never need your Apple credentials.</h4>
    </div>
    <div class="col-12 col-md-6">
      <img src="https://dummyjson.com/image/450" alt="Example image" loading="lazy" class="img-fluid rounded-3 mb-4" />
    </div>
  </div>

  <img src="https://dummyjson.com/image/960x600" alt="Example image" loading="lazy" class="img-fluid rounded-3 mb-4" />

  <div class="text-center p-5 my-5">
    <div class="mx-5 px-5">
      <h4>Forward Apple receipts. AppSpnd extracts and organizes every purchase, then displays all your family’s spending in one modern dashboard.</h4>
      <h4 class="text-muted">No Apple login or sensitive account details needed—just your trusted email.</h4>
    </div>
  </div>

  <div class="text-center p-5">
    <h4>Start Tracking Your Apple Purchases</h4>
    <p>See your full family spend in seconds.</p>
    <a href="#" class="btn btn-primary btn-lg px-4 me-sm-3">Try AppSpnd Free</a>
  </div>

</div>

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"/>
        </svg>
      </a>
      <p class="text-body-secondary">&copy; 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
  </footer>
</div>
