<app-home-page-hero></app-home-page-hero>

<div class="container">

  <!-- About Section -->
  <section class="about">
    <h2>Why Choose Us?</h2>
    <p>We build <strong>simple</strong> web apps designed for your unique needs. Not all business needs require all the bells and whistles. Sometimes, simple is better. Whether you're a startup or an established enterprise, we provide end-to-end solutions from ideation to deployment.</p>
    <p>We don't over-architect and over-complicate your project so that you have confidence it will work consistently and predictably.</p>
  </section>

  <app-home-page-services></app-home-page-services>

  <app-contact-form></app-contact-form>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"/>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 JRM Labs, LLC.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <i class="bi bi-twitter-x"></i>
        </a>
      </li>
      <li class="ms-3"><a class="text-body-secondary" href="#">
        <i class="bi bi-instagram"></i>
      </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">
        <i class="bi bi-facebook"></i>
      </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">
        <i class="bi bi-linkedin"></i>
      </a></li>
    </ul>
  </footer>

</div>
