<div id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom Applications</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    @for (app of applications; let i = $index; track app) {
      <div class="col">
        <a [routerLink]="app.link" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
             [ngStyle]="{'background-image': 'url(' + app.image + ')'}">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{app.title}}</h3>
            <div class="d-flex flex-row flex-wrap">
              @for (tech of app.techStack; let i = $index; track tech) {
                <span class="badge text-bg-secondary">{{tech}}</span>
              }
            </div>
          </div>
        </a>
      </div>
    }

  </div>
</div>
